# Docker ephemera
*compose.override.yml

# NPM ephemera
node_modules/

# Webpack ephemera
/dist
## I have no idea why these started showing up:
##     *.tsx~
##     *.ty~
##     *.tz~
##     *.ts~
*.*~

# ESLint ephemera
.eslintcache
