.App {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100vh;
  width: 100vw;

  text-align: center;
  font-family: Roboto, Helvetica, sans-serif;
  color: #051729;
}

#version {
  display: none;
}
