.ControlPanel {
  background-color: #F7F7F8;
  text-align: center;

  padding: 15px;
}

.ControlPanel > * {
  padding: 15px;
}

.ControlPanel .dropdown {
  display: inline;
}

.ControlPanel label {
  padding-right: 3px;
}
