.SlippyMap {
  height: 100%;
  position: relative;
}

/* NOTE: Why :first-child selector? Helps ensure the map-container div doesn't
 * overlap other divs... somehow. */
.map-container:first-child {
  height: 100%;
  width: 100%;
}

.clicked-coord-label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}
